body {
	margin: 0 auto;
    background-image: url(../images/DRIVER.jpg);
 	background-size: cover;
   
  }
/* pantalla de inicio*/
 #splash { 
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background: linear-gradient(70deg, #54005F, #CC0883);