body {
	margin: 0 auto;
}

.login{
  background-image: url(../images/DRIVER.jpg);
  background-size: cover;
}
/* pantalla de inicio*/
 #splash { 
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  background: linear-gradient(70deg, #54005F, #CC0883);
}

.splash{
  width: 20em;
  padding-top: 15em;
}

.whiteLogo{
	width: 8em;
  text-align: center;
}

.lyftLyfe{
  width: 5em;
  padding-top: 5em;
  align-content: center;
}

.liftLogo{
  width: 25em;
}

.logbutton {
  padding: 10em 3em;
}